In [1]:
import pandas as pd
import numpy as np

In [2]:
width_data = pd.read_csv('BRFSS_Var_Layout - Sheet1.csv')

In [10]:
width_data.columns

Index(['Starting Column', 'Variable Name', 'Field Length'], dtype='object')

In [12]:
width_data.dtypes

Starting Column     int64
Variable Name      object
Field Length        int64
dtype: object

In [28]:
df = pd.read_fwf('LLCP2023.ASC ', widths = width_data['Field Length'], header = None)

In [16]:
df.columns = width_data['Variable Name']

In [29]:
df.tail()

,0,1,2,3,4,5,6,7,8,9,...,335,336,337,338,339,340,341,342,343,344
433318,78,NaN,NaN,NaN,NaN,1212,1120,23 110,202300206,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
433319,78,NaN,NaN,NaN,NaN,1201,320,24 110,202300206,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
433320,78,NaN,NaN,NaN,NaN,1212,1320,23 110,202300206,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
433321,78,NaN,NaN,NaN,NaN,1212,820,23 110,202300206,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
433322,78,NaN,NaN,NaN,NaN,1212,1120,23 110,202300206,8,...,221.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df['IYEAR'].unique()

array([ 103,  101,  204,  203,  305,  304,  306,  707,  808,  909,  908,
       1010, 1111, 1212, 1211,  104,  205,  708,  809,  910, 1011, 1112,
       1201,  404,  606, 1001, 1101, 1202,  202,  102,  303,  405,  505,
        608,  506,  607,  308,  406,  507,  609,  709,  710,  810,  811,
        911, 1012, 1203,  912, 1102, 1002,  407,  206,  307,  508,  509,
        105,  610,  106,  209,  208,  605,  611,  807,  711,  111,  601,
        602, 1110,  210,  510,  309,  211,  207,  310,  410,  812,  901,
        408,  409])

In [20]:
df.size

149496435

In [21]:
df.to_csv('BRFSS23.csv')

In [26]:
data23 = pd.read_sas('LLCP2023.xpt', encoding='latin-1')

In [27]:
data23.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,DROCDY4_,_RFBING6,_DRNKWK2,_RFDRHV8,_FLSHOT7,_PNEUMO3,_AIDTST4,_RFSEAT2,_RFSEAT3,_DRNKDRV
0,1.0,1.0,03012023,03,01,2023,1100.0,2023000001,2.023000e+09,1.0,...,5.397605e-79,1.0,5.397605e-79,1.0,2.0,2.0,2.0,1.0,1.0,9.0
1,1.0,1.0,01062023,01,06,2023,1100.0,2023000002,2.023000e+09,1.0,...,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,2.0,1.0,1.0,9.0
2,1.0,1.0,03082023,03,08,2023,1100.0,2023000003,2.023000e+09,1.0,...,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,2.0,1.0,1.0,9.0
3,1.0,1.0,03062023,03,06,2023,1100.0,2023000004,2.023000e+09,1.0,...,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,1.0,1.0,1.0,9.0
4,1.0,1.0,01062023,01,06,2023,1100.0,2023000005,2.023000e+09,1.0,...,7.000000e+00,1.0,4.700000e+01,1.0,2.0,1.0,2.0,1.0,1.0,2.0