In [ ]:
import pandas as pd

data = pd.read_csv('LLCP2021.ASC') 

data.head(10).T

,0,1,2,3,4,5,6,7,8,9
01 0101192021 11002021000001 11 121 02 01012 2 52010880312223 21122211221223 1222108 141 111278805 007204112222211333888 10920200112 10155520420320110123 2 22222111111153 1001 11 101101139.7661577 279.5323155 01 9 10.51901912874.242902 744.745531 2321921122221121 0101 211112112706059150032661454111233112000100000111200000100005700430014010000110001000002141111001,01 0101212021 11002021000002 ...,01 0101212021 11002021000003 ...,01 0101172021 11002021000004 ...,01 0101152021 11002021000005 ...,01 0101142021 11002021000006 ...,01 0101082021 11002021000007 ...,01 0101212021 11002021000008 ...,01 0202202021 11002021000009 ...,01 0202202021 11002021000010 ...,01 0203062021 11002021000011 ...

: