# **2023 Dataset Work**

In [84]:
import pandas as pd
import numpy as np
from ydata_profiling import ProfileReport

## **Choosing Variables**

In [85]:
d23 = pd.read_sas('LLCP2023.xpt', encoding='latin-1')

In [86]:
d23.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,DROCDY4_,_RFBING6,_DRNKWK2,_RFDRHV8,_FLSHOT7,_PNEUMO3,_AIDTST4,_RFSEAT2,_RFSEAT3,_DRNKDRV
0,1.0,1.0,03012023,03,01,2023,1100.0,2023000001,2.023000e+09,1.0,...,5.397605e-79,1.0,5.397605e-79,1.0,2.0,2.0,2.0,1.0,1.0,9.0
1,1.0,1.0,01062023,01,06,2023,1100.0,2023000002,2.023000e+09,1.0,...,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,2.0,1.0,1.0,9.0
2,1.0,1.0,03082023,03,08,2023,1100.0,2023000003,2.023000e+09,1.0,...,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,2.0,1.0,1.0,9.0
3,1.0,1.0,03062023,03,06,2023,1100.0,2023000004,2.023000e+09,1.0,...,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,1.0,1.0,1.0,9.0
4,1.0,1.0,01062023,01,06,2023,1100.0,2023000005,2.023000e+09,1.0,...,7.000000e+00,1.0,4.700000e+01,1.0,2.0,1.0,2.0,1.0,1.0,2.0

In [87]:
d23.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Columns: 350 entries, _STATE to _DRNKDRV
dtypes: float64(345), object(5)
memory usage: 1.1+ GB

In [88]:
core_mh_vars = ['_STATE', 'CADULT1', 'BIRTHSEX', 'MENTHLTH',  'POORHLTH',  'ADDEPEV3', 'DECIDE', 'DIFFALON','IYEAR']

optional_mh_vars = [                                         
    'ACEDEPRS', 'ACEDRINK', 'ACEDRUGS', 'ACEPRISN', 'ACEDIVRC',         
    'ACEPUNCH', 'ACEHURT1', 'ACESWEAR', 'ACETOUCH', 'ACETTHEM', 'ACEHVSEX'
]

all_my_vars = core_mh_vars + optional_mh_vars

available_vars = [var for var in all_my_vars if var in d23.columns]

In [89]:
d23_subset = d23[available_vars]

for var in available_vars:
    if var in d23_subset.columns:
        print(d23_subset[var].value_counts().sort_index())
    else:
        pass

_STATE
1.0      4362
2.0      5525
4.0     12036
5.0      5351
6.0     11976
8.0      8783
9.0      9501
10.0     4282
11.0     3207
12.0    13255
13.0     8227
15.0     7832
16.0     6895
17.0     5279
18.0    10993
19.0     8876
20.0     9884
22.0     5388
23.0    12255
24.0    17255
25.0     9528
26.0     9978
27.0    16170
28.0     4069
29.0     7219
30.0     7143
31.0    12886
32.0     2650
33.0     6960
34.0     9328
35.0     3220
36.0    17349
37.0     4088
38.0     5745
39.0    13384
40.0     6727
41.0     6234
44.0     5781
45.0    10038
46.0     5886
47.0     5645
48.0    10059
49.0    11154
50.0     7636
51.0     6981
53.0    26444
54.0     4339
55.0    12819
56.0     4484
66.0     1559
72.0     4594
78.0     2064
Name: count, dtype: int64
CADULT1
1.0    344978
Name: count, dtype: int64
BIRTHSEX
1.0    48640
2.0    56275
7.0       79
9.0      236
Name: count, dtype: int64
MENTHLTH
1.0      14173
2.0      23878
3.0      15394
4.0       7810
5.0      19959
6.0       2271
7.0       7686
8.0       1731
9.0        281
10.0     15426
11.0       131
12.0      1208
13.0       172
14.0      2731
15.0     14152
16.0       280
17.0       223
18.0       305
19.0        53
20.0      9065
21.0       534
22.0       171
23.0       128
24.0       111
25.0      3089
26.0       115
27.0       211
28.0       914
29.0       414
30.0     25573
77.0      5992
88.0    257026
99.0      2113
Name: count, dtype: int64
POORHLTH
1.0      11589
2.0      15263
3.0      10168
4.0       5631
5.0      12330
6.0       1806
7.0       5940
8.0       1428
9.0        280
10.0      9575
11.0        96
12.0       924
13.0       148
14.0      2638
15.0      9632
16.0       219
17.0       156
18.0       238
19.0        43
20.0      5950
21.0       627
22.0       136
23.0        90
24.0       100
25.0      2163
26.0        77
27.0       123
28.0       496
29.0       183
30.0     19523
77.0      4574
88.0    128905
99.0      1119
Name: count, dtype: int64
ADDEPEV3
1.0     88149
2.0    342587
7.0      2017
9.0       567
Name: count, dtype: int64
DECIDE
1.0     49648
2.0    365547
7.0      2101
9.0       888
Name: count, dtype: int64
DIFFALON
1.0     31964
2.0    381959
7.0      1011
9.0       529
Name: count, dtype: int64
IYEAR
2023    408012
2024     25311
Name: count, dtype: int64
ACEDEPRS
1.0    10606
2.0    44138
7.0      604
9.0      692
Name: count, dtype: int64
ACEDRINK
1.0    13360
2.0    41766
7.0      213
9.0      600
Name: count, dtype: int64
ACEDRUGS
1.0     5823
2.0    49240
7.0      286
9.0      542
Name: count, dtype: int64
ACEPRISN
1.0     3943
2.0    51195
7.0      156
9.0      551
Name: count, dtype: int64
ACEDIVRC
1.0    14956
2.0    38883
7.0      423
8.0      962
9.0      584
Name: count, dtype: int64
ACEPUNCH
1.0    45101
2.0     2230
3.0     6747
7.0      799
9.0      881
Name: count, dtype: int64
ACEHURT1
1.0    39912
2.0     3703
3.0    10725
7.0      404
9.0      943
Name: count, dtype: int64
ACESWEAR
1.0    35496
2.0     2640
3.0    15918
7.0      612
9.0      955
Name: count, dtype: int64
ACETOUCH
1.0    47541
2.0     2344
3.0     4255
7.0      221
9.0     1193
Name: count, dtype: int64
ACETTHEM
1.0    49190
2.0     1783
3.0     3197
7.0      210
9.0     1106
Name: count, dtype: int64
ACEHVSEX
1.0    51365
2.0      923
3.0     1864
7.0      177
9.0     1088
Name: count, dtype: int64

In [90]:
state_replace_map = {1.0: 'Alabama',
                        2.0: 'Alaska',
                        4.0: 'Arizona',
                        5.0: 'Arkansas',
                        6.0: 'California',
                        8.0: 'Colorado',
                        9.0: 'Connecticut',
                        10.0: 'Delaware',
                        11.0: 'District of Columbia',        
                        13.0 :'Georgia', 
                        15.0 :'Hawaii',
                        16.0 :'Idaho',
                        17.0 :'Illinois',
                        18.0 :'Indiana',
                        19.0 :'Iowa',
                        20.0 :'Kansas',
                        21.0 :'Kentucky',
                        22.0 :'Louisiana',
                        23.0 :'Maine',
                        24.0 :'Maryland',
                        25.0 :'Massachusetts',
                        26.0 :'Michigan',
                        27.0 :'Minnesota',
                        28.0 :'Mississippi',
                        29.0 :'Missouri',
                        30.0 :'Montana',
                        31.0 :'Nebraska',
                        32.0 :'Nevada',
                        33.0 :'New Hampshire',
                        35.0: 'New Mexico',
                        34.0: 'New Jersey', 
                        36.0: 'New York',
                        37.0: 'North Carolina',
                        38.0: 'North Dakota',
                        39.0: 'Ohio',
                        40.0: 'Oklahoma',
                        41.0: 'Oregon',
                        42.0: 'Pennsylvania',
                        44.0: 'Rhode Island',
                        45.0: 'South Carolina',
                        46.0: 'South Dakota',
                        47.0: 'Tennessee',
                        48.0: 'Texas',
                        49.0: 'Utah',
                        50.0: 'Vermont', 
                        51.0: 'Virginia', 
                        53.0: 'Washington',
                        54.0: 'West Virginia',
                        55.0: 'Wisconsin',
                        56.0: 'Wyoming',
                        66.0: 'Guam',
                        72.0: 'Puerto Rico',
                        78.0: 'Virgin Islands'  
}

d23_subset['_STATE'] = d23_subset['_STATE'].map(state_replace_map)

/var/folders/1z/t_vl0dx95552hzn7xv8z08sm0000gn/T/ipykernel_72892/3554015223.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d23_subset['_STATE'] = d23_subset['_STATE'].map(state_replace_map)

In [91]:
replace_map = {
    'BIRTHSEX': {  
        1: 'Male',
        2: 'Female',
        7: np.nan,
        9: np.nan
    },
    'MENTHLTH': {
        88: 0,
        77: np.nan,
        99: np.nan
    },
    'POORHLTH': {
        88: 0,
        77: np.nan,
        99: np.nan
    },
    'ADDEPEV3': { 
        1: 1,
        2: 0,
        7: np.nan,
        9: np.nan
    },
    'DECIDE': { 
        1: 'Yes',
        2: 'No',
        7: np.nan,
        9: np.nan
    },
    'DIFFALON': {
        1: 'Yes',
        2: 'No',
        7: np.nan,
        9: np.nan
    },
        
    'ACEDEPRS': {
        1: 'Yes',
        2: 'No',
        7: np.nan,
        9: np.nan
    },
    'ACEDRINK': { 
        1: 'Yes',
        2: 'No',
        7: np.nan,
        9: np.nan
    },
    'ACEDRUGS': {
        1: 'Yes',
        2: 'No',
        7: np.nan,
        9: np.nan
    },
    'ACEPRISN': { 
        1: 'Yes',
        2: 'No',
        7: np.nan,
        9: np.nan
    },
    'ACEDIVRC': { 
        1: 'Yes',
        2: 'No',
        8: 'Parents not married',
        7: np.nan,
        9: np.nan
    },
    'ACEPUNCH': {
        1: 'Never',
        2: 'Once',
        3: 'More than once',
        7: np.nan,
        9: np.nan
    },
    'ACEHURT1': {
        1: 'Never',
        2: 'Once',
        3: 'More than once',
        7: np.nan,
        9: np.nan
    },
    'ACESWEAR': { 
        1: 'Never',
        2: 'Once',
        3: 'More than once',
        7: np.nan,
        9: np.nan
    },
    'ACETOUCH': { 
        1: 'Never',
        2: 'Once',
        3: 'More than once',
        7: np.nan,
        9: np.nan
    },
    'ACETTHEM': {
        1: 'Never',
        2: 'Once',
        3: 'More than once',
        7: np.nan,
        9: np.nan
    },
    'ACEHVSEX': {
        1: 'Never',
        2: 'Once',
        3: 'More than once',
        7: np.nan,
        9: np.nan
    }
}

d23_subset = d23_subset.replace(replace_map)

In [92]:
d23_subset.head()

,_STATE,CADULT1,BIRTHSEX,MENTHLTH,POORHLTH,ADDEPEV3,DECIDE,DIFFALON,IYEAR,ACEDEPRS,ACEDRINK,ACEDRUGS,ACEPRISN,ACEDIVRC,ACEPUNCH,ACEHURT1,ACESWEAR,ACETOUCH,ACETTHEM,ACEHVSEX
0,Alabama,NaN,NaN,0.0,NaN,0.0,No,No,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alabama,NaN,NaN,0.0,NaN,1.0,No,No,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alabama,NaN,NaN,2.0,1.0,0.0,Yes,No,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Alabama,NaN,NaN,0.0,0.0,1.0,No,No,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Alabama,NaN,NaN,0.0,NaN,1.0,Yes,Yes,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [93]:
profile = ProfileReport(d23_subset, title = 'CDC Data Exploratory Dashboard',
                        html = {'style': {'full_width': True}},
                        minimal=False)
profile.to_file("CDC_report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

100%|██████████| 20/20 [00:06<00:00,  3.26it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [19]:
d23_subset.to_csv('brfss23_subset.csv')