In [2]:
import pandas as pd
import numpy as np

In [4]:
data_2019 = pd.read_sas('LLCP2019.XPT', encoding='latin1')
data_2021 = pd.read_sas('LLCP2021.XPT', encoding='latin1')
data_2023 = pd.read_sas('LLCP2023.XPT', encoding='latin1')

In [14]:
data_2019[['EMPLOY1', 'AVEDRNK3', 'EXEROFT1', 'STRENGTH', 'PHYSHLTH']].head()

   EMPLOY1  AVEDRNK3  EXEROFT1  STRENGTH  PHYSHLTH
0      7.0       NaN       NaN     210.0      15.0
1      7.0       NaN     202.0     888.0      10.0
2      7.0       NaN     101.0     102.0      88.0
3      7.0       NaN       NaN       NaN      30.0
4      5.0       NaN       NaN     888.0      88.0

In [ ]:
#data_2021[['EMPLOY1', 'AVEDRNK3', 'EXEROFT1', 'STRENGTH', 'PHYSHLTH']].head()

In [13]:
data_2023[['EMPLOY1', 'AVEDRNK3', 'EXEROFT1', 'STRENGTH', 'PHYSHLTH']].head()

   EMPLOY1  AVEDRNK3  EXEROFT1  STRENGTH  PHYSHLTH
0      7.0       NaN       NaN     888.0      88.0
1      7.0       NaN     106.0     888.0      88.0
2      7.0       NaN     205.0     205.0       6.0
3      7.0       NaN     103.0     888.0       2.0
4      8.0       1.0     102.0     888.0      88.0

In [16]:
core_mh_vars = ['_STATE', 'CADULT1', 'BIRTHSEX', 'MENTHLTH',  'POORHLTH',  'ADDEPEV3', 'DECIDE', 'DIFFALON','IYEAR']

optional_mh_vars = [                                         
    'ACEDEPRS', 'ACEDRINK', 'ACEDRUGS', 'ACEPRISN', 'ACEDIVRC',         
    'ACEPUNCH', 'ACEHURT1', 'ACESWEAR', 'ACETOUCH', 'ACETTHEM', 'ACEHVSEX'
]

other_factors_mh_vars = [
    'EMPLOY1', 'AVEDRNK3', 'EXEROFT1', 'STRENGTH', 'PHYSHLTH' 
]

all_my_vars = core_mh_vars + optional_mh_vars + other_factors_mh_vars

available_vars = [var for var in all_my_vars if var in data_2019.columns]

In [17]:
d19_subset = data_2019[available_vars]

for var in available_vars:
    if var in d19_subset.columns:
        print(d19_subset[var].value_counts().sort_index())
    else:
        pass

_STATE
1.0      7052
2.0      2977
4.0      8941
5.0      5359
6.0     11613
8.0      9317
9.0      9163
10.0     3897
11.0     2624
12.0    16959
13.0     7354
15.0     7684
16.0     5474
17.0     5512
18.0     8894
19.0     9803
20.0    11368
21.0     7974
22.0     4718
23.0    11373
24.0    17419
25.0     7731
26.0    10518
27.0    15539
28.0     5126
29.0     7304
30.0     6495
31.0    15869
32.0     2779
33.0     5856
35.0     5975
36.0    14232
37.0     4287
38.0     5534
39.0    13536
40.0     6335
41.0     6112
42.0     6606
44.0     6110
45.0     7146
46.0     6630
47.0     6242
48.0    12297
49.0    11792
50.0     6457
51.0     9952
53.0    12993
54.0     5301
55.0     4951
56.0     4630
66.0     2426
72.0     6032
Name: count, dtype: int64
CADULT1
1.0    268324
Name: count, dtype: int64
BIRTHSEX
1.0    30527
2.0    34227
7.0       99
9.0      165
Name: count, dtype: int64
MENTHLTH
1.0      13594
2.0      21143
3.0      12559
4.0       6600
5.0      15922
6.0       1861
7.0       6182
8.0       1262
9.0        229
10.0     11955
11.0        78
12.0       917
13.0       141
14.0      2308
15.0     11290
16.0       228
17.0       198
18.0       249
19.0        32
20.0      6913
21.0       472
22.0       143
23.0        93
24.0        95
25.0      2394
26.0        91
27.0       185
28.0       672
29.0       417
30.0     23929
77.0      6835
88.0    267337
99.0      1925
Name: count, dtype: int64
POORHLTH
1.0      11007
2.0      12800
3.0       8253
4.0       4666
5.0       9236
6.0       1499
7.0       4408
8.0       1240
9.0        274
10.0      7320
11.0        80
12.0       726
13.0        95
14.0      2240
15.0      7929
16.0       151
17.0       144
18.0       208
19.0        36
20.0      4922
21.0       599
22.0       102
23.0        80
24.0        85
25.0      1974
26.0        76
27.0       143
28.0       415
29.0       196
30.0     19774
77.0      5457
88.0    122140
99.0      1062
Name: count, dtype: int64
ADDEPEV3
1.0     79181
2.0    336804
7.0      1792
9.0       481
Name: count, dtype: int64
DECIDE
1.0     44665
2.0    357924
7.0      2118
9.0       630
Name: count, dtype: int64
DIFFALON
1.0     32099
2.0    369696
7.0       987
9.0       442
Name: count, dtype: int64
IYEAR
2019    399618
2020     18650
Name: count, dtype: int64
ACEDEPRS
1.0    17454
2.0    88542
7.0      740
9.0      618
Name: count, dtype: int64
ACEDRINK
1.0    24879
2.0    81507
7.0      317
9.0      588
Name: count, dtype: int64
ACEDRUGS
1.0     9779
2.0    96441
7.0      503
9.0      533
Name: count, dtype: int64
ACEPRISN
1.0     7295
2.0    99184
7.0      228
9.0      501
Name: count, dtype: int64
ACEDIVRC
1.0    25985
2.0    78563
7.0      543
8.0     1467
9.0      627
Name: count, dtype: int64
ACEPUNCH
1.0    88221
2.0     3922
3.0    12511
7.0     1388
9.0     1089
Name: count, dtype: int64
ACEHURT1
1.0    81052
2.0     6188
3.0    17976
7.0      689
9.0     1152
Name: count, dtype: int64
ACESWEAR
1.0    71591
2.0     5313
3.0    27728
7.0     1204
9.0     1137
Name: count, dtype: int64
ACETOUCH
1.0    93171
2.0     4235
3.0     7599
7.0      360
9.0     1549
Name: count, dtype: int64
ACETTHEM
1.0    96481
2.0     3197
3.0     5388
7.0      356
9.0     1433
Name: count, dtype: int64
ACEHVSEX
1.0    100100
2.0      1721
3.0      3261
7.0       292
9.0      1405
Name: count, dtype: int64
EMPLOY1
1.0    167942
2.0     37688
3.0      7831
4.0      8153
5.0     20541
6.0     10845
7.0    128809
8.0     29952
9.0      3648
Name: count, dtype: int64
AVEDRNK3
1.0     87434
2.0     58310
3.0     22921
4.0      9816
5.0      5432
        ...
85.0        3
86.0        1
87.0        3
88.0       19
99.0      898
Name: count, Length: 61, dtype: int64
EXEROFT1
101.0    15518
102.0    33072
103.0    47870
104.0    23946
105.0    25243
         ...
290.0       42
295.0        1
299.0       71
777.0     4486
999.0      601
Name: count, Length: 122, dtype: int64
STRENGTH
101.0     13501
102.0     24474
103.0     27964
104.0     11534
105.0     12853
          ...
290.0         7
299.0        40
777.0      8271
888.0    208639
999.0      1736
Name: count, Length: 116, dtype: int64
PHYSHLTH
1.0      17829
2.0      23775
3.0      14224
4.0       7243
5.0      12509
6.0       2099
7.0       7671
8.0       1372
9.0        388
10.0      9254
11.0       119
12.0       920
13.0       134
14.0      4162
15.0      8400
16.0       242
17.0       183
18.0       303
19.0        46
20.0      5402
21.0      1053
22.0       144
23.0       100
24.0       124
25.0      2123
26.0       117
27.0       223
28.0       815
29.0       389
30.0     34004
77.0      8855
88.0    252492
99.0      1522
Name: count, dtype: int64

In [20]:
d19_subset.head()

,_STATE,CADULT1,BIRTHSEX,MENTHLTH,POORHLTH,ADDEPEV3,DECIDE,DIFFALON,IYEAR,ACEDEPRS,...,ACEHURT1,ACESWEAR,ACETOUCH,ACETTHEM,ACEHVSEX,EMPLOY1,AVEDRNK3,EXEROFT1,STRENGTH,PHYSHLTH
0,1.0,NaN,NaN,88.0,88.0,2.0,2.0,2.0,2019,2.0,...,3.0,1.0,1.0,1.0,1.0,7.0,NaN,NaN,210.0,15.0
1,1.0,NaN,NaN,88.0,10.0,2.0,2.0,2.0,2019,2.0,...,2.0,3.0,1.0,1.0,1.0,7.0,NaN,202.0,888.0,10.0
2,1.0,NaN,NaN,30.0,88.0,2.0,2.0,2.0,2019,2.0,...,1.0,1.0,1.0,1.0,1.0,7.0,NaN,101.0,102.0,88.0
3,1.0,NaN,NaN,88.0,88.0,2.0,2.0,NaN,2019,NaN,...,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,30.0
4,1.0,NaN,NaN,88.0,NaN,2.0,2.0,2.0,2019,2.0,...,1.0,1.0,1.0,1.0,1.0,5.0,NaN,NaN,888.0,88.0

In [18]:
available_vars = [var for var in all_my_vars if var in data_2023.columns]

d23_subset = data_2023[available_vars]

for var in available_vars:
    if var in d23_subset.columns:
        print(d23_subset[var].value_counts().sort_index())
    else:
        pass

_STATE
1.0      4362
2.0      5525
4.0     12036
5.0      5351
6.0     11976
8.0      8783
9.0      9501
10.0     4282
11.0     3207
12.0    13255
13.0     8227
15.0     7832
16.0     6895
17.0     5279
18.0    10993
19.0     8876
20.0     9884
22.0     5388
23.0    12255
24.0    17255
25.0     9528
26.0     9978
27.0    16170
28.0     4069
29.0     7219
30.0     7143
31.0    12886
32.0     2650
33.0     6960
34.0     9328
35.0     3220
36.0    17349
37.0     4088
38.0     5745
39.0    13384
40.0     6727
41.0     6234
44.0     5781
45.0    10038
46.0     5886
47.0     5645
48.0    10059
49.0    11154
50.0     7636
51.0     6981
53.0    26444
54.0     4339
55.0    12819
56.0     4484
66.0     1559
72.0     4594
78.0     2064
Name: count, dtype: int64
CADULT1
1.0    344978
Name: count, dtype: int64
BIRTHSEX
1.0    48640
2.0    56275
7.0       79
9.0      236
Name: count, dtype: int64
MENTHLTH
1.0      14173
2.0      23878
3.0      15394
4.0       7810
5.0      19959
6.0       2271
7.0       7686
8.0       1731
9.0        281
10.0     15426
11.0       131
12.0      1208
13.0       172
14.0      2731
15.0     14152
16.0       280
17.0       223
18.0       305
19.0        53
20.0      9065
21.0       534
22.0       171
23.0       128
24.0       111
25.0      3089
26.0       115
27.0       211
28.0       914
29.0       414
30.0     25573
77.0      5992
88.0    257026
99.0      2113
Name: count, dtype: int64
POORHLTH
1.0      11589
2.0      15263
3.0      10168
4.0       5631
5.0      12330
6.0       1806
7.0       5940
8.0       1428
9.0        280
10.0      9575
11.0        96
12.0       924
13.0       148
14.0      2638
15.0      9632
16.0       219
17.0       156
18.0       238
19.0        43
20.0      5950
21.0       627
22.0       136
23.0        90
24.0       100
25.0      2163
26.0        77
27.0       123
28.0       496
29.0       183
30.0     19523
77.0      4574
88.0    128905
99.0      1119
Name: count, dtype: int64
ADDEPEV3
1.0     88149
2.0    342587
7.0      2017
9.0       567
Name: count, dtype: int64
DECIDE
1.0     49648
2.0    365547
7.0      2101
9.0       888
Name: count, dtype: int64
DIFFALON
1.0     31964
2.0    381959
7.0      1011
9.0       529
Name: count, dtype: int64
IYEAR
2023    408012
2024     25311
Name: count, dtype: int64
ACEDEPRS
1.0    10606
2.0    44138
7.0      604
9.0      692
Name: count, dtype: int64
ACEDRINK
1.0    13360
2.0    41766
7.0      213
9.0      600
Name: count, dtype: int64
ACEDRUGS
1.0     5823
2.0    49240
7.0      286
9.0      542
Name: count, dtype: int64
ACEPRISN
1.0     3943
2.0    51195
7.0      156
9.0      551
Name: count, dtype: int64
ACEDIVRC
1.0    14956
2.0    38883
7.0      423
8.0      962
9.0      584
Name: count, dtype: int64
ACEPUNCH
1.0    45101
2.0     2230
3.0     6747
7.0      799
9.0      881
Name: count, dtype: int64
ACEHURT1
1.0    39912
2.0     3703
3.0    10725
7.0      404
9.0      943
Name: count, dtype: int64
ACESWEAR
1.0    35496
2.0     2640
3.0    15918
7.0      612
9.0      955
Name: count, dtype: int64
ACETOUCH
1.0    47541
2.0     2344
3.0     4255
7.0      221
9.0     1193
Name: count, dtype: int64
ACETTHEM
1.0    49190
2.0     1783
3.0     3197
7.0      210
9.0     1106
Name: count, dtype: int64
ACEHVSEX
1.0    51365
2.0      923
3.0     1864
7.0      177
9.0     1088
Name: count, dtype: int64
EMPLOY1
1.0    177871
2.0     37923
3.0      7668
4.0      8976
5.0     17521
6.0     10244
7.0    139949
8.0     25490
9.0      4713
Name: count, dtype: int64
AVEDRNK3
1.0     94510
2.0     64052
3.0     24499
4.0     10416
5.0      5378
6.0      4729
7.0       862
8.0      1374
9.0       162
10.0     1410
11.0       38
12.0      784
13.0       27
14.0       35
15.0      261
16.0       40
17.0        9
18.0       51
19.0        1
20.0      181
21.0        8
22.0        3
23.0        1
24.0       59
25.0       22
27.0        4
28.0        2
29.0        1
30.0      100
32.0        5
35.0        3
36.0        7
40.0       13
42.0        2
45.0        2
46.0        1
48.0        3
50.0       13
52.0        1
59.0        1
60.0       15
62.0        1
63.0        1
64.0        1
69.0        2
70.0        2
73.0        1
75.0        2
76.0        4
77.0     1991
88.0      636
99.0      400
Name: count, dtype: int64
EXEROFT1
101.0    14600
102.0    36441
103.0    54950
104.0    30412
105.0    32490
         ...
297.0        1
298.0        4
299.0      641
777.0     5899
999.0      994
Name: count, Length: 158, dtype: int64
STRENGTH
101.0     17420
102.0     31976
103.0     35575
104.0     15752
105.0     17941
          ...
298.0         5
299.0       347
777.0     12049
888.0    198771
999.0      2120
Name: count, Length: 137, dtype: int64
PHYSHLTH
1.0      17457
2.0      25849
3.0      15877
4.0       8404
5.0      15063
6.0       2386
7.0       8698
8.0       1642
9.0        378
10.0     10452
11.0       143
12.0       995
13.0       165
14.0      4468
15.0      8730
16.0       240
17.0       206
18.0       317
19.0        53
20.0      5843
21.0       996
22.0       157
23.0       128
24.0       140
25.0      2224
26.0       110
27.0       211
28.0       831
29.0       386
30.0     33424
77.0      9072
88.0    256565
99.0      1710
Name: count, dtype: int64

In [21]:
d23_subset.head()

,_STATE,CADULT1,BIRTHSEX,MENTHLTH,POORHLTH,ADDEPEV3,DECIDE,DIFFALON,IYEAR,ACEDEPRS,...,ACEHURT1,ACESWEAR,ACETOUCH,ACETTHEM,ACEHVSEX,EMPLOY1,AVEDRNK3,EXEROFT1,STRENGTH,PHYSHLTH
0,1.0,NaN,NaN,88.0,NaN,2.0,2.0,2.0,2023,NaN,...,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,888.0,88.0
1,1.0,NaN,NaN,88.0,NaN,1.0,2.0,2.0,2023,NaN,...,NaN,NaN,NaN,NaN,NaN,7.0,NaN,106.0,888.0,88.0
2,1.0,NaN,NaN,2.0,1.0,2.0,1.0,2.0,2023,NaN,...,NaN,NaN,NaN,NaN,NaN,7.0,NaN,205.0,205.0,6.0
3,1.0,NaN,NaN,88.0,88.0,1.0,2.0,2.0,2023,NaN,...,NaN,NaN,NaN,NaN,NaN,7.0,NaN,103.0,888.0,2.0
4,1.0,NaN,NaN,88.0,NaN,1.0,1.0,1.0,2023,NaN,...,NaN,NaN,NaN,NaN,NaN,8.0,1.0,102.0,888.0,88.0

In [19]:
replace_map = {
    'BIRTHSEX': {  
        1: 'Male',
        2: 'Female',
        7: np.nan,
        9: np.nan
    },
    'MENTHLTH': {
        88: 0,
        77: np.nan,
        99: np.nan
    },
    'POORHLTH': {
        88: 0,
        77: np.nan,
        99: np.nan
    },
    'ADDEPEV3': { 
        1: 1,
        2: 0,
        7: np.nan,
        9: np.nan
    },
    'DECIDE': { 
        1: 'Yes',
        2: 'No',
        7: np.nan,
        9: np.nan
    },
    'DIFFALON': {
        1: 'Yes',
        2: 'No',
        7: np.nan,
        9: np.nan
    },
        
    'ACEDEPRS': {
        1: 'Yes',
        2: 'No',
        7: np.nan,
        9: np.nan
    },
    'ACEDRINK': { 
        1: 'Yes',
        2: 'No',
        7: np.nan,
        9: np.nan
    },
    'ACEDRUGS': {
        1: 'Yes',
        2: 'No',
        7: np.nan,
        9: np.nan
    },
    'ACEPRISN': { 
        1: 'Yes',
        2: 'No',
        7: np.nan,
        9: np.nan
    },
    'ACEDIVRC': { 
        1: 'Yes',
        2: 'No',
        8: 'Parents not married',
        7: np.nan,
        9: np.nan
    },
    'ACEPUNCH': {
        1: 'Never',
        2: 'Once',
        3: 'More than once',
        7: np.nan,
        9: np.nan
    },
    'ACEHURT1': {
        1: 'Never',
        2: 'Once',
        3: 'More than once',
        7: np.nan,
        9: np.nan
    },
    'ACESWEAR': { 
        1: 'Never',
        2: 'Once',
        3: 'More than once',
        7: np.nan,
        9: np.nan
    },
    'ACETOUCH': { 
        1: 'Never',
        2: 'Once',
        3: 'More than once',
        7: np.nan,
        9: np.nan
    },
    'ACETTHEM': {
        1: 'Never',
        2: 'Once',
        3: 'More than once',
        7: np.nan,
        9: np.nan
    },
    'ACEHVSEX': {
        1: 'Never',
        2: 'Once',
        3: 'More than once',
        7: np.nan,
        9: np.nan
    },
    'EMPLOY1': {
        1: 'Employed for wages',
        2: 'Self-employed',
        3: 'Out of work for 1 year or more',
        4: 'Out of work for less than 1 year',
        5: 'A homemaker',
        6: 'A student',
        7: 'Retired',
        8: 'Unable to work',
        9: np.nan
    },
    'AVEDRNK3': {
        77: np.nan,
        99: np.nan
    },
    'EXEROFT1': {
        777: np.nan,
        999: np.nan
    },
    'STRENGTH': {
        777: np.nan,
        888: 0,
        999: np.nan},
    'PHYSHLTH': {
        88: 0,
        77: np.nan,
        99: np.nan
    }
}

In [22]:
d19_subset = d19_subset.replace(replace_map)
d23_subset = d23_subset.replace(replace_map)

In [23]:
state_replace_map = {1.0: 'Alabama',
                        2.0: 'Alaska',
                        4.0: 'Arizona',
                        5.0: 'Arkansas',
                        6.0: 'California',
                        8.0: 'Colorado',
                        9.0: 'Connecticut',
                        10.0: 'Delaware',
                        11.0: 'District of Columbia',        
                        13.0 :'Georgia', 
                        15.0 :'Hawaii',
                        16.0 :'Idaho',
                        17.0 :'Illinois',
                        18.0 :'Indiana',
                        19.0 :'Iowa',
                        20.0 :'Kansas',
                        21.0 :'Kentucky',
                        22.0 :'Louisiana',
                        23.0 :'Maine',
                        24.0 :'Maryland',
                        25.0 :'Massachusetts',
                        26.0 :'Michigan',
                        27.0 :'Minnesota',
                        28.0 :'Mississippi',
                        29.0 :'Missouri',
                        30.0 :'Montana',
                        31.0 :'Nebraska',
                        32.0 :'Nevada',
                        33.0 :'New Hampshire',
                        35.0: 'New Mexico',
                        34.0: 'New Jersey', 
                        36.0: 'New York',
                        37.0: 'North Carolina',
                        38.0: 'North Dakota',
                        39.0: 'Ohio',
                        40.0: 'Oklahoma',
                        41.0: 'Oregon',
                        42.0: 'Pennsylvania',
                        44.0: 'Rhode Island',
                        45.0: 'South Carolina',
                        46.0: 'South Dakota',
                        47.0: 'Tennessee',
                        48.0: 'Texas',
                        49.0: 'Utah',
                        50.0: 'Vermont', 
                        51.0: 'Virginia', 
                        53.0: 'Washington',
                        54.0: 'West Virginia',
                        55.0: 'Wisconsin',
                        56.0: 'Wyoming',
                        66.0: 'Guam',
                        72.0: 'Puerto Rico',
                        78.0: 'Virgin Islands'  
}

d19_subset['_STATE'] = d19_subset['_STATE'].map(state_replace_map)
d23_subset['_STATE'] = d23_subset['_STATE'].map(state_replace_map)

In [26]:
d19_subset.to_csv('brfss19_subset.csv')
d23_subset.to_csv('brfss23_subset.csv')

In [27]:
df_19 = pd.read_csv('brfss19_subset.csv',low_memory=False)
df_23 = pd.read_csv('brfss23_subset.csv',low_memory=False)

In [28]:
# converting the ADDEPEV3 into 1.0 and 0.0
add_map = {"No": 0.0,
           "Yes": 1.0}

In [29]:
df_19.ADDEPEV3 = df_19.ADDEPEV3.map(add_map)
df_23.ADDEPEV3 = df_23.ADDEPEV3.map(add_map)

In [30]:
df_23 = df_23.drop('Unnamed: 0',axis=1)
df_23.columns

Index(['_STATE', 'CADULT1', 'BIRTHSEX', 'MENTHLTH', 'POORHLTH', 'ADDEPEV3',
       'DECIDE', 'DIFFALON', 'IYEAR', 'ACEDEPRS', 'ACEDRINK', 'ACEDRUGS',
       'ACEPRISN', 'ACEDIVRC', 'ACEPUNCH', 'ACEHURT1', 'ACESWEAR', 'ACETOUCH',
       'ACETTHEM', 'ACEHVSEX', 'EMPLOY1', 'AVEDRNK3', 'EXEROFT1', 'STRENGTH',
       'PHYSHLTH'],
      dtype='object')

In [34]:
df_19.columns

Index(['Unnamed: 0', 'BIRTHSEX', 'MENTHLTH', 'POORHLTH', 'ADDEPEV3', 'DECIDE',
       'DIFFALON', 'IYEAR', 'ACEDEPRS', 'ACEDRINK', 'ACEDRUGS', 'ACEPRISN',
       'ACEDIVRC', 'ACEPUNCH', 'ACEHURT1', 'ACESWEAR', 'ACETOUCH', 'ACETTHEM',
       'ACEHVSEX', 'EMPLOY1', 'AVEDRNK3', 'EXEROFT1', 'STRENGTH', 'PHYSHLTH'],
      dtype='object')

In [35]:
# going to drop state variable and cadult1
df_19 = df_19.drop(['Unnamed: 0'],axis=1)
df_23 = df_23.drop(['_STATE', 'CADULT1'],axis=1)

In [37]:
df_23 = df_23.query("IYEAR != 2024")
df_23.IYEAR.value_counts()

IYEAR
2023    408012
Name: count, dtype: int64

In [38]:
print({df_19.shape})
print({df_23.shape})

{(418268, 23)}
{(408012, 23)}

In [40]:
df_all_years = pd.concat([df_19, df_23])
df_all_years.columns

Index(['BIRTHSEX', 'MENTHLTH', 'POORHLTH', 'ADDEPEV3', 'DECIDE', 'DIFFALON',
       'IYEAR', 'ACEDEPRS', 'ACEDRINK', 'ACEDRUGS', 'ACEPRISN', 'ACEDIVRC',
       'ACEPUNCH', 'ACEHURT1', 'ACESWEAR', 'ACETOUCH', 'ACETTHEM', 'ACEHVSEX',
       'EMPLOY1', 'AVEDRNK3', 'EXEROFT1', 'STRENGTH', 'PHYSHLTH'],
      dtype='object')

In [41]:
df_all_years.to_csv('CDC-2019-2021-2023-DATA_nums.csv')