In [1]:
import numpy as np 
import pandas as pd

In [2]:
# reading in the datasets 
df_19 = pd.read_csv('/Users/aniyahmcwilliams/Fall 2025/Predictive Modeling/PROJECT/data/CDC_2019Subset.csv',low_memory=False)
df_21 = pd.read_csv('/Users/aniyahmcwilliams/Fall 2025/Predictive Modeling/PROJECT/data/CDC_2021_Subset.csv',low_memory=False)
df_23 = pd.read_csv('/Users/aniyahmcwilliams/Fall 2025/Predictive Modeling/PROJECT/data/brfss23_subset.csv',low_memory=False)

In [3]:
df_19.head()

,_STATE,CADULT1,BIRTHSEX,MENTHLTH,POORHLTH,ADDEPEV3,DECIDE,DIFFALON,ACEDEPRS,ACEDRINK,ACEDRUGS,ACEPRISN,ACEDIVRC,ACEPUNCH,ACEHURT1,ACESWEAR,ACETOUCH,ACETTHEM,ACEHVSEX
0,1.0,NaN,NaN,0.0,0.0,No,No,No,No,No,No,No,Yes,Never,More than once,Never,Never,Never,Never
1,1.0,NaN,NaN,0.0,10.0,No,No,No,No,Yes,No,No,No,Never,Once,More than once,Never,Never,Never
2,1.0,NaN,NaN,30.0,0.0,No,No,No,No,No,No,No,No,NaN,Never,Never,Never,Never,Never
3,1.0,NaN,NaN,0.0,0.0,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,NaN,NaN,0.0,NaN,No,No,No,No,No,No,No,No,Never,Never,Never,Never,Never,Never

In [4]:
state_replace_map = {1.0: 'Alabama',
                        2.0: 'Alaska',
                        4.0: 'Arizona',
                        5.0: 'Arkansas',
                        6.0: 'California',
                        8.0: 'Colorado',
                        9.0: 'Connecticut',
                        10.0: 'Delaware',
                        11.0: 'District of Columbia',        
                        13.0 :'Georgia', 
                        15.0 :'Hawaii',
                        16.0 :'Idaho',
                        17.0 :'Illinois',
                        18.0 :'Indiana',
                        19.0 :'Iowa',
                        20.0 :'Kansas',
                        21.0 :'Kentucky',
                        22.0 :'Louisiana',
                        23.0 :'Maine',
                        24.0 :'Maryland',
                        25.0 :'Massachusetts',
                        26.0 :'Michigan',
                        27.0 :'Minnesota',
                        28.0 :'Mississippi',
                        29.0 :'Missouri',
                        30.0 :'Montana',
                        31.0 :'Nebraska',
                        32.0 :'Nevada',
                        33.0 :'New Hampshire',
                        35.0: 'New Mexico',
                        34.0: 'New Jersey', 
                        36.0: 'New York',
                        37.0: 'North Carolina',
                        38.0: 'North Dakota',
                        39.0: 'Ohio',
                        40.0: 'Oklahoma',
                        41.0: 'Oregon',
                        42.0: 'Pennsylvania',
                        44.0: 'Rhode Island',
                        45.0: 'South Carolina',
                        46.0: 'South Dakota',
                        47.0: 'Tennessee',
                        48.0: 'Texas',
                        49.0: 'Utah',
                        50.0: 'Vermont', 
                        51.0: 'Virginia', 
                        53.0: 'Washington',
                        54.0: 'West Virginia',
                        55.0: 'Wisconsin',
                        56.0: 'Wyoming',
                        66.0: 'Guam',
                        72.0: 'Puerto Rico',
                        78.0: 'Virgin Islands'  
}

df_19['_STATE'] = df_19['_STATE'].map(state_replace_map)

In [5]:
df_19.head()

,_STATE,CADULT1,BIRTHSEX,MENTHLTH,POORHLTH,ADDEPEV3,DECIDE,DIFFALON,ACEDEPRS,ACEDRINK,ACEDRUGS,ACEPRISN,ACEDIVRC,ACEPUNCH,ACEHURT1,ACESWEAR,ACETOUCH,ACETTHEM,ACEHVSEX
0,Alabama,NaN,NaN,0.0,0.0,No,No,No,No,No,No,No,Yes,Never,More than once,Never,Never,Never,Never
1,Alabama,NaN,NaN,0.0,10.0,No,No,No,No,Yes,No,No,No,Never,Once,More than once,Never,Never,Never
2,Alabama,NaN,NaN,30.0,0.0,No,No,No,No,No,No,No,No,NaN,Never,Never,Never,Never,Never
3,Alabama,NaN,NaN,0.0,0.0,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Alabama,NaN,NaN,0.0,NaN,No,No,No,No,No,No,No,No,Never,Never,Never,Never,Never,Never

In [6]:
df_21.head()

,_STATE,CADULT1,BIRTHSEX,MENTHLTH,POORHLTH,ADDEPEV3,DECIDE,DIFFALON,ACEDEPRS,ACEDRINK,ACEDRUGS,ACEPRISN,ACEDIVRC,ACEPUNCH,ACEHURT1,ACESWEAR,ACETOUCH,ACETTHEM,ACEHVSEX
0,Alabama,NaN,NaN,10.0,0.0,No,No,Yes,No,No,No,No,Yes,Never,Never,Never,Never,Never,Never
1,Alabama,NaN,NaN,0.0,NaN,No,Yes,Yes,No,No,No,No,No,Never,Never,Never,Never,Never,Never
2,Alabama,NaN,NaN,0.0,NaN,No,No,No,No,No,No,No,No,Never,Never,Never,Never,Never,Never
3,Alabama,NaN,NaN,10.0,0.0,No,No,No,Yes,No,No,No,No,Never,More than once,Never,Never,Never,Never
4,Alabama,NaN,NaN,0.0,30.0,No,No,No,No,No,No,No,No,Never,Never,Never,Never,Never,Never

In [7]:
df_23.head()

,Unnamed: 0,_STATE,CADULT1,BIRTHSEX,MENTHLTH,POORHLTH,ADDEPEV3,DECIDE,DIFFALON,IYEAR,...,ACEDRINK,ACEDRUGS,ACEPRISN,ACEDIVRC,ACEPUNCH,ACEHURT1,ACESWEAR,ACETOUCH,ACETTHEM,ACEHVSEX
0,0,Alabama,NaN,NaN,0.0,NaN,0.0,No,No,2023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Alabama,NaN,NaN,0.0,NaN,1.0,No,No,2023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Alabama,NaN,NaN,2.0,1.0,0.0,Yes,No,2023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Alabama,NaN,NaN,0.0,0.0,1.0,No,No,2023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Alabama,NaN,NaN,0.0,NaN,1.0,Yes,Yes,2023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_19.ADDEPEV3.value_counts()

ADDEPEV3
No     336804
Yes     79181
Name: count, dtype: int64

In [9]:
df_21.ADDEPEV3.value_counts()

ADDEPEV3
No     350778
Yes     85398
Name: count, dtype: int64

In [10]:
df_23.ADDEPEV3.value_counts()

ADDEPEV3
0.0    342587
1.0     88149
Name: count, dtype: int64

In [11]:
# converting the ADDEPEV3 into 1.0 and 0.0
add_map = {"No": 0.0,
           "Yes": 1.0}

In [12]:
df_19.ADDEPEV3 = df_19.ADDEPEV3.map(add_map)
df_21.ADDEPEV3 = df_21.ADDEPEV3.map(add_map)

In [13]:
df_19.ADDEPEV3.value_counts()

ADDEPEV3
0.0    336804
1.0     79181
Name: count, dtype: int64

In [14]:
df_23 = df_23.drop('Unnamed: 0',axis=1)
df_23.columns

Index(['_STATE', 'CADULT1', 'BIRTHSEX', 'MENTHLTH', 'POORHLTH', 'ADDEPEV3',
       'DECIDE', 'DIFFALON', 'IYEAR', 'ACEDEPRS', 'ACEDRINK', 'ACEDRUGS',
       'ACEPRISN', 'ACEDIVRC', 'ACEPUNCH', 'ACEHURT1', 'ACESWEAR', 'ACETOUCH',
       'ACETTHEM', 'ACEHVSEX'],
      dtype='object')

In [15]:
df_21['IYEAR'] = 2021
df_19['IYEAR'] = 2019

In [16]:
# going to drop state variable and cadult1
df_19 = df_19.drop(['_STATE','CADULT1'],axis=1)
df_21 = df_21.drop(['_STATE','CADULT1'],axis=1)
df_23 = df_23.drop(['_STATE','CADULT1'],axis=1)

In [17]:
# going to write code that drops all the rows from df_23 if iyear==2024
df_23 = df_23.query("IYEAR != 2024")

In [18]:
df_23.IYEAR.value_counts()

IYEAR
2023    408012
Name: count, dtype: int64

In [19]:
df_19.shape

(418268, 18)

In [20]:
df_21.shape

(438693, 18)

In [21]:
df_23.shape

(408012, 18)

In [22]:
total_rows = 418268 + 438693 + 408012
print(total_rows)

1264973

In [23]:
#actually concatenating the datasets
df_all_years = pd.concat([df_19, df_21,df_23])

In [24]:
df_all_years.shape

(1264973, 18)

In [25]:
df_all_years.columns

Index(['BIRTHSEX', 'MENTHLTH', 'POORHLTH', 'ADDEPEV3', 'DECIDE', 'DIFFALON',
       'ACEDEPRS', 'ACEDRINK', 'ACEDRUGS', 'ACEPRISN', 'ACEDIVRC', 'ACEPUNCH',
       'ACEHURT1', 'ACESWEAR', 'ACETOUCH', 'ACETTHEM', 'ACEHVSEX', 'IYEAR'],
      dtype='object')

In [26]:
df_all_years.ADDEPEV3.value_counts()

ADDEPEV3
0.0    1009829
1.0     247883
Name: count, dtype: int64

In [27]:
# converting to a csv and uploading to github
df_all_years.to_csv('CDC-2019-2021-2023-DATA.csv')